@import url("https://fonts.googleapis.com/css2?family=Combo&family=Poppins&display=swap");

* {
  margin: 0%;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5%;
  padding: 15px;
}

.myLogo {
  height: 40%;
}

.headline-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 913px;
  position: relative;
}

.background-img {
  border-radius: 10px;
  width: 100%;
  z-index: -1;
  position: absolute;
}

.aboutme-div {
  margin-top: 30%;
  margin-left: 3%;
}

.me {
  font-size: 60px;
  font-family: "Poppins", sans-serif;
}

.about-me {
  font-size: 20px;
  color: #344563;
  margin: 12px 0;
  font-family: "Poppins", sans-serif;
}

.social-icon-header {
  color: #7f8cff;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: lighter;
}

.social-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 10%;
  margin-top: 2%;
  list-style: none;
  padding: 0;
}
