@import url("https://fonts.googleapis.com/css2?family=Combo&family=Poppins&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 7vh;
  width: 100%;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 7vh;
  background-color: white;
  position: fixed;
  z-index: 1;
}

.project-view-button-tag {
  text-decoration: none;
}

/* for mobile */

@media (max-width: 767px) {
  /* mobile-menu */

  .mobile-menu {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    background: #3e52ffdf;
    width: 100%;
    height: 100vh;
    z-index: 2;
    position: absolute;
  }

  .mobile-menu-appear {
    display: flex;
  }

  .mobile-menu-disappear-button {
    margin: 10% 10% 0 0;
    background: none;
    border: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
    font-weight: bolder;
  }

  .mobile-menu-tags-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 10%;
    width: 100%;
    margin-top: 5vh;
    font-weight: 600;
    font-size: 32px;
  }

  .mobile-menu-tags {
    text-decoration: none;
    margin-top: 2vh;
    color: white;
  }

  .mobile-menu-endline-div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
  }

  .mobile-menu-endline {
    display: flex;
    width: 40%;
    height: 4px;
    background-color: black;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  /* popups */

  .popups {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    z-index: 2;
    background: #c1c7d0ce;
  }

  .popups-container {
    display: flex;
    flex-direction: column;
    width: 85%;
    border-radius: 10px;
    background-color: white;
    margin: 30px 0 30px 0;
  }

  .popups-projectTitle-and-button {
    display: flex;
    grid-area: 1;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .popup-project-title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #091e42;
    margin: 10px 0 5px 10px;
  }

  .popup-project-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
  }

  .popup-canopy {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #344563;
  }

  .popup-back-end-dev {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #7a869a;
    margin-left: 25px;
    width: 14vh;
  }

  .popup-two015 {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #7a869a;
    margin-left: 25px;
  }

  .popups-project-disapper-button {
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4vh;
    height: 4vh;
    color: #67798e;
    font-size: large;
    cursor: pointer;
    margin: 10px;
  }

  .popups-project-img {
    width: 100%;
    padding: 10px 30px 10px 30px;
  }

  .popups-project-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .popups-project-p-desktop {
    display: none;
  }

  .popups-project-p-mobile {
    width: 100%;
    height: 100%;
    font-size: 15px;
    padding: 0 10px 0 10px;
  }

  .popups-languages-buttons-container {
    width: 100%;
    height: 100%;
  }

  .popups-project-languages-ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0 10px 0;
    width: 100%;
  }

  .popups-project-languages {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ebebff;
    color: #6070ff;
    border-radius: 5px;
    padding: 4px 12px;
    width: 50px;
    font-weight: 500;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    margin-top: 1vh;
    margin-left: 8px;
  }

  .js-language {
    width: 70px;
  }

  .bootstrap-language {
    display: none;
  }

  .ruby-language {
    display: none;
  }

  .github-language {
    display: none;
  }

  .popups-project-buttons-div {
    border-top: 1px solid #ebecf0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
  }

  .popups-button-see {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 110px;
    height: 35px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #396df2;
    color: #396df2;
    background-color: white;
    font-size: 12px;
    cursor: pointer;
    margin-left: 2.5vh;
  }

  .popups-button-see:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
  }

  .popups-endline-mobile {
    display: flex;
    align-self: end;
    width: 40%;
    height: 4px;
    background-color: black;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    position: absolute;
  }

  /* header */

  .myLogo {
    display: flex;
    padding-left: 30px;
  }

  .menuicon-a {
    display: flex;
    padding-left: 55%;
  }

  .menu-icon-disappear {
    display: none;
  }

  .toolbar-ul {
    display: none;
  }

  /* section-1 */

  .headline-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 913px;
    width: 100%;
    position: relative;
    border-bottom-left-radius: 100px;
    box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.265);
  }

  .headline-section-background-img-ul {
    list-style: none;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    padding: 0;
  }

  .background-img-section1-for-mobile {
    display: flex;
    width: 100%;
    height: 913px;
  }

  .background-img-section1-for-desktop {
    display: none;
  }

  .aboutme-div {
    margin-left: 17%;
  }

  .me {
    font-size: 60px;
    color: #091e42;
    font-family: "Poppins", sans-serif;
  }

  .about-me {
    font-size: 20px;
    color: #172b4d;
    margin: 12px 0;
    font-family: "Poppins", sans-serif;
  }

  .social-icon-header {
    color: #7f8cff;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: lighter;
  }

  .social-icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 20vh;
    margin-top: 2%;
    list-style: none;
    padding: 0;
  }

  /* work-section */

  .Works-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
  }

  .projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 5%;
  }

  .myprojects-img {
    width: 100%;
    padding: 2%;
  }

  .myprojects-img-mobile {
    display: flex;
    width: 100%;
    padding: 2%;
  }

  .myprojects-img-desktop {
    display: none;
  }

  .info-div-project {
    padding-left: 2%;
  }

  .project-title {
    width: 250px;
    height: 36px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
  }

  .project-info {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0;
    margin-top: 2vh;
  }

  .canopy {
    height: 16px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #344563;
  }

  .back-end-dev {
    height: 16px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
    margin-left: 10%;
  }

  .two015 {
    margin-left: 10%;
    height: 16px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
  }

  .project-description {
    width: 250px;
    height: 76px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #344563;
  }

  .project-languages-ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin-top: 40px;
  }

  .project-languages-html {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebebff;
    border-radius: 8px;
    color: #6070ff;
    padding: 4px 12px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    margin-top: 1vh;
  }

  .project-languages {
    margin-left: 1%;
    margin-top: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebebff;
    border-radius: 8px;
    color: #6070ff;
    padding: 4px 12px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
  }

  .project-view-button {
    width: 15vh;
    padding: 5px;
    background: none;
    border-radius: 6px;
    border: 1px solid rgb(68, 68, 255);
    color: #396df2;
    font-size: 15px;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  .project-view-button:hover {
    color: white;
    background-color: rgb(68, 68, 255);
  }

  /* section3 */

  .about-me-section-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 5%;
    height: 1100px;
    border-top-right-radius: 100px;
  }

  .aboutmyself {
    margin-top: 7%;
    margin-left: 3%;
    font-size: 50px;
    font-family: "Poppins", sans-serif;
    color: #172b4d;
  }

  .aboutme-div-section3 {
    margin-left: 3%;
    width: 95%;
  }

  .about-me-section3 {
    color: #344563;
    margin: 12px 0;
    font-family: "Poppins", sans-serif;
  }

  .social-icon-header-section3 {
    color: #7f8cff;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: bolder;
  }

  .social-icon-container-section3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 24vh;
    margin-top: 2%;
    list-style: none;
    padding: 0;
  }

  .section3-resume-btn {
    width: 19vh;
    padding: 5px;
    margin-left: 3%;
    margin-top: 1%;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    background: none;
    border-radius: 8px;
    font-weight: bold;
    color: #396df2;
    border: 1px solid #6070ff;
  }

  .section3-resume-btn:hover {
    color: white;
    background-color: #6070ff;
  }

  .languages-div {
    margin-top: 4%;
  }

  .languages-title-ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
  }

  .languages-title {
    font-size: xx-large;
    font-family: "Poppins", sans-serif;
  }

  .arrow-down-section3 {
    transform: rotate(90deg);
  }

  .languages-li {
    display: flex;
    align-items: center;
    width: 98%;
    height: 8vh;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.028);
    margin-top: 1%;
    padding-left: 10px;
  }

  .languages-text {
    margin-left: 1%;
    font-family: "Poppins", sans-serif;
  }

  .frameworks {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dfe1e6;
    margin-top: 3%;
    padding-bottom: 1vh;
    font-family: "Poppins", sans-serif;
    font-size: larger;
    width: 95%;
    margin-left: 2%;
    padding-left: 2vh;
    position: relative;
  }

  .skills {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dfe1e6;
    margin-top: 3%;
    padding-bottom: 1vh;
    font-family: "Poppins", sans-serif;
    font-size: larger;
    width: 95%;
    margin-left: 2%;
    padding-left: 2vh;
    position: relative;
  }

  .arrow-right1-section3 {
    margin-left: 90%;
    position: absolute;
  }

  .arrow-right2-section3 {
    margin-left: 90%;
    position: absolute;
  }

  /* form-section */

  .form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #6070ff;
    width: 100%;
    border-top-left-radius: 100px;
    position: relative;
  }

  .footer-background-ul {
    position: absolute;
    list-style: none;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .footer-background-img-mobile {
    display: flex;
    height: 500px;
  }

  .footer-background-img-desktop {
    display: none;
  }

  .contact-title {
    font-size: 35px;
    color: white;
    margin-top: 8vh;
    z-index: 1;
    font-family: "Poppins", sans-serif;
  }

  .info-formsection {
    z-index: 1;
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
    color: white;
    font-family: "Poppins", sans-serif;
    width: 310px;
  }

  .form-container {
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 5vh;
  }

  .form-section-inputs {
    height: 5vh;
    width: 100%;
    padding-left: 10px;
    outline: none;
    border: none;
    border-radius: 8px;
    margin-top: 15px;
  }

  .form-section-textarea {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    outline: none;
    border: none;
    border-radius: 8px;
  }

  .form-button {
    width: 20vh;
    padding: 10px;
    margin-top: 15px;
    border-radius: 8px;
    border: none;
    color: #6070fff1;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
  }

  .form-button:enabled {
    background-color: none;
  }

  .form-button:hover {
    border: 2px solid black;
  }

  .form-button:active {
    background-color: #5e6efb;
  }

  .form-button:disabled {
    background-color: none;
    color: black;
    border: black;
  }

  .end-line {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 40%;
    height: 4px;
    background-color: black;
    border: none;
    border-radius: 5px;
  }
}

/* for desktop */

@media (min-width: 767px) {
  /* popups */

  .popups {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    z-index: 2;
    background: #c1c7d0ce;
  }

  .popups-container {
    display: flex;
    flex-direction: column;
    width: 85%;
    border-radius: 10px;
    background-color: white;
    margin: 40px 0 40px 0;
  }

  .popups-projectTitle-and-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .popup-project-title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #091e42;
    margin: 10px 0 5px 40px;
  }

  .popup-project-info {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .popup-canopy {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #344563;
  }

  .popup-back-end-dev {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #7a869a;
    margin-left: 30px;
  }

  .popup-two015 {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #7a869a;
    margin-left: 30px;
  }

  .popups-project-disapper-button {
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4vh;
    height: 4vh;
    color: #67798e;
    font-size: large;
    cursor: pointer;
    margin: 10px;
  }

  .popups-project-img {
    width: 100%;
    padding: 10px 50px 10px 50px;
  }

  .popups-project-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .popups-project-p-desktop {
    width: 65%;
    height: 100%;
    padding: 10px;
  }

  .popups-project-p-mobile {
    display: none;
  }

  .popups-languages-buttons-container {
    width: 34vh;
    height: 30vh;
  }

  .popups-project-languages-ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 12vh;
    padding: 0;
    padding-bottom: 15px;
  }

  .popups-project-languages {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ebebff;
    color: #6070ff;
    border-radius: 5px;
    padding: 4px 12px;
    width: 50px;
    font-weight: 500;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    margin-top: 1vh;
    margin-left: 8px;
  }

  .js-language {
    width: 70px;
  }

  .bootstrap-language {
    width: 70px;
  }

  .bootstrap-language-disappear {
    display: none;
  }

  .ruby-language-disappear {
    display: none;
  }

  .popups-project-buttons-div {
    border-top: 1px solid rgba(0, 0, 0, 0.343);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
  }

  .popups-button-see {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 110px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #396df2;
    color: #396df2;
    background-color: white;
    font-size: 12px;
    cursor: pointer;
    margin-left: 1vh;
  }

  .popups-button-see:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
  }

  .popups-endline-mobile {
    display: none;
  }

  /* header */

  .myLogo {
    height: 40%;
    margin-left: 10vh;
  }

  .toolbar-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40vh;
    margin-right: 10vh;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
  }

  .menuicon-a {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  /* section-1 */

  .headline-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 900px;
    width: 100%;
    position: relative;
    border-bottom-left-radius: 100px;
    box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.265);
  }

  .headline-section-background-img-ul {
    list-style: none;
    position: absolute;
    z-index: -1;
  }

  .background-img-section1-for-mobile {
    display: none;
  }

  .background-img-section1-for-desktop {
    display: flex;
    width: 100%;
    height: 900px;
  }

  .aboutme-div {
    margin-left: 17%;
  }

  .me {
    color: #091e42;
    font-size: 60px;
    font-family: "Poppins", sans-serif;
  }

  .about-me {
    font-size: 20px;
    color: #344563;
    margin: 12px 0;
    font-family: "Poppins", sans-serif;
  }

  .social-icon-header {
    color: #7f8cff;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: lighter;
  }

  .social-icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 25vh;
    margin-top: 2%;
    list-style: none;
    padding: 0;
  }

  /* work-section */

  .Works-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
  }

  .projects {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 15%;
  }

  .myprojects-img-mobile {
    display: none;
  }

  .myprojects-img {
    width: 50%;
    padding: 2%;
  }

  .myprojects-img:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
  }

  .myprojects-img-desktop {
    display: flex;
    width: 50%;
    padding: 2%;
  }

  .info-div-project {
    padding-left: 2%;
    width: 50%;
    margin-top: 6vh;
  }

  .project-title {
    width: 260px;
    height: 46px;
    color: #091e42;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .project-info {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0;
  }

  .canopy {
    width: 75px;
    height: 24px;
    color: #344563;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  .back-end-dev {
    width: 120px;
    height: 24px;
    color: #6b778c;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-left: 8%;
  }

  .two015 {
    width: 38px;
    height: 24px;
    color: #6b778c;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-left: 8%;
  }

  .project-description {
    font-size: 15px;
    font-family: "Poppins", sans-serif;
  }

  .project-languages-ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0%;
  }

  .project-languages-html {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebebff;
    border-radius: 8px;
    color: #6070ff;
    padding: 4px 12px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    margin-top: 1vh;
  }

  .project-languages {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebebff;
    border-radius: 8px;
    color: #6070ff;
    padding: 4px 12px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    margin-left: 1%;
    margin-top: 1vh;
  }

  .project-view-button {
    width: 18vh;
    padding: 15px 10px;
    background: none;
    border-radius: 10px;
    border: 1px solid rgb(68, 68, 255);
    color: #396df2;
    font-size: 18px;
    margin-top: 2vh;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .project-view-button:hover {
    background-color: rgb(68, 68, 255);
    color: white;
  }

  /* section3 */

  .about-me-section-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 5%;
    height: 850px;
    box-shadow: 0 -10px 12px 0 rgba(0, 0, 0, 0.104);
    border-top-right-radius: 100px;
  }

  .aboutme-div-section3 {
    margin-top: 10%;
    margin-left: 5%;
    width: 45%;
    padding-left: 10px;
  }

  .aboutmyself {
    width: 447px;
    height: 114px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #091e42;
  }

  .about-me-section3 {
    width: 350px;
    height: 102px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .social-icon-header-section3 {
    color: #7f8cff;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    padding-top: 50px;
  }

  .social-icon-container-section3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 24vh;
    margin-top: 2%;
    list-style: none;
    padding: 0;
  }

  .section3-resume-btn {
    width: 17vh;
    padding: 12px 10px;
    margin-top: 5%;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    background: none;
    border-radius: 8px;
    font-weight: bold;
    color: #396df2;
    border: 1px solid #396df2;
    cursor: pointer;
  }

  .section3-resume-btn:hover {
    color: white;
    background-color: #396df2;
  }

  .languages-div {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
  }

  .languages-title-ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
  }

  .languages-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    font-family: "Poppins", sans-serif;
    color: #344563;
  }

  .arrow-down-section3 {
    transform: rotate(90deg);
  }

  .languages-ul-section3 {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
  }

  .languages-li {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 112px;
    height: 110px;
    list-style: none;
    background: #f7f7f9;
    border-radius: 8px;
  }

  @media (max-width: 900px) {
    .languages-li {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      width: 103px;
      height: 110px;
      list-style: none;
      background: #f7f7f9;
      border-radius: 8px;
    }
  }

  .languages-logo {
    padding-top: 10px;
    padding-left: 10px;
  }

  .html-css-li {
    margin-left: 2vh;
  }

  .languages-text {
    padding-top: 10px;
    padding-left: 10px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
  }

  @media (max-width: 900px) {
    .languages-text {
      padding-top: 10px;
      padding-left: 10px;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
    }
  }

  .frameworks {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dfe1e6;
    margin-top: 3%;
    padding-bottom: 1vh;
    font-family: "Poppins", sans-serif;
    font-size: larger;
    width: 95%;
    margin-left: 2%;
    padding-left: 2vh;
    position: relative;
    font-weight: 500;
  }

  .skills {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dfe1e6;
    margin-top: 3%;
    padding-bottom: 1vh;
    font-family: "Poppins", sans-serif;
    font-size: larger;
    width: 95%;
    margin-left: 2%;
    padding-left: 2vh;
    position: relative;
    font-weight: 500;
  }

  .arrow-right1-section3 {
    margin-left: 90%;
    position: absolute;
  }

  .arrow-right2-section3 {
    margin-left: 90%;
    position: absolute;
  }

  /* form-section */

  .form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #6070ff;
    width: 100%;
    border-top-left-radius: 100px;
    position: relative;
  }

  .footer-background-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    list-style: none;
    height: 100%;
    width: 100%;
  }

  .footer-background-img-mobile {
    display: none;
  }

  .footer-background-img-desktop {
    display: flex;
    height: 500px;
    width: 100%;
  }

  .contact-title {
    font-size: 35px;
    color: white;
    margin-top: 8vh;
    z-index: 1;
    font-weight: bolder;
    font-family: "Poppins", sans-serif;
  }

  .info-formsection {
    z-index: 1;
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
    color: white;
    font-family: "Poppins", sans-serif;
    width: 40vh;
  }

  .form-container {
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 36vh;
  }

  .form-section-inputs {
    height: 4vh;
    width: 100%;
    padding-left: 10px;
    outline: none;
    border: none;
    border-radius: 2px;
    margin-top: 15px;
  }

  .form-section-textarea {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    outline: none;
    border: none;
    border-radius: 2px;
  }

  .form-button {
    width: 15vh;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: none;
    color: #6070fff1;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
  }

  .form-button:enabled {
    background-color: none;
  }

  .form-button:hover {
    border: 1px solid black;
  }

  .form-button:active {
    background-color: #5e6efb;
  }

  .form-button:disabled {
    background-color: none;
    color: black;
    border: black;
  }

  .end-line {
    display: none;
  }
}
